.cards {
  width: 157.93px;
  height: 168.74px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}
.num-image {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px 24px;
}
.title-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.num-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.title-item span {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 23.9789px;
  line-height: 29px;
  color: #696969;
}
.title-item h6 {
  font-family: Suprema;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #aeaeae;
}
.num-image h6 {
  font-family: Suprema;
  font-style: normal;
  font-weight: normal;
  font-size: 20.1118px;
  line-height: 25px;
  color: #404040;
}
.card-wrapping {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;}